body{
    margin:0;
    padding:350px;
    background: url(1.jpeg);
    background-size: cover;
    background-position: center;
    font-family: calibri;
    font-size: 17px;;
}


.box{
    width:700px;
    height: 400px;
    background: rgba(117, 73, 73, 0.5);
    color:#fff;
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 50px;
}

.box p{
    margin:0;
    padding: 0;
    font-weight: bold;
}
.box input{
    width:100%;
    margin-bottom: 20px;
    color:#fff;
}
.box input[type="text"]
{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
}